<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    
   <!--  Paleta de colores
    #ECE5BA 
    #E54F28 
    #2E1A1A -->

</head>
<body>

    <%- include("../partials/header") %>
    
    
    
    <h1 class="titulo">CARRITO DE COMPRAS</h1>
    
    <section class="seccion-carrito">
        <div class="carrito-titulos">
            <h2>Producto</h2>
            <h2 class="precio">Precio</h2>
            <h2>Cantidad</h2>
            <h2>Total</h2>
        </div>

        <div class="carrito-producto">
            <img src="/images\compragamer_Imganen_general_14083_Procesador_AMD_RYZEN_7_3700X_4.4_GHz_AM4_Wraith_Prism_RGB_Led_Cooler_4e00eaaf-grn.jpg" alt="" class="contenido">
            <p id="descripcion-producto" class="contenido">Procesador AMD RYZEN 7 3700X 4.4 GHz AM4 Wraith Prism RGB Led Cooler</p>
            <input type="number" name="cantidad" class="contenido">
            <p class="contenido">$ 42.520</p>
            <p class="contenido"></p>
            
            <i class="far fa-times-circle"></i>
        </div>
    </section>

    <section class="seccion-carrito">
        <div class="carrito-titulos">
            <h2>Producto</h2>
            <h2 class="precio">Precio</h2>
            <h2>Cantidad</h2>
            <h2>Total</h2>
        </div>

        <div class="carrito-producto">
            <img src="/images\intel-core-i7.jpg" alt="" class="contenido">
            <p class="contenido">Procesador Intel Core i7 9700F 4.7GHz Turbo 1151 Coffee Lake</p>
            <input type="number" name="cantidad" class="contenido">
            <p class="contenido">$ 36.650 </p>
            <p class="contenido"></p>
            
            <i class="far fa-times-circle"></i>
        </div>
    </section>

    <section class="seccion-carrito">
        <div class="carrito-titulos">
            <h2>Producto</h2>
            <h2 class="precio">Precio</h2>
            <h2>Cantidad</h2>
            <h2>Total</h2>
        </div>

        <div class="carrito-producto">
            <img src="/images\Intel_Core_i7_Turbo.jpg" alt="" class="contenido">
            <p class="contenido">Procesador Intel Core i7 10700KA 5.1GHz Turbo 1200 Comet Lake Avengers Edition</p>
            <input type="number" name="cantidad" class="contenido">
            <p class="contenido">$ 44.803</p>
            <p class="contenido"></p>
            
            <i class="far fa-times-circle"></i>
        </div>
    </section>

    <section class="seccion-actualizar">
        <button class="boton">Actualizar carrito</button>
    </section>    

    <section class="seccion-totaldelcarrito">
        <h1 class="total">Total del carrito</h1>
        <p class="precio">$</p>
        <button class="boton">Finalizar compra</button>
    </section>





    <%- include("../partials/footer") %>




</body>
</html>