

form {
    width: 50vw;
    margin: auto;
    /* border: solid 1px red; */
    border-top: solid 1px rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

fieldset {
    margin: 20px;
}

label {
    display: block;
    /* border: solid 1px red; */
    text-align: center;
    margin-bottom: 10px;

}