body{
    width:100%;
}

footer {
    width:100%;
    padding:20px 0;
    letter-spacing: 1px;
    text-align: center;
}

ul{
    width:100%;
    padding:5px 0;
}

li{
    width:100%;
    list-style: none;
    padding:3px 0;
}

a{
    font-size: 11px;
    text-decoration: none;
    color:var(--text-color-op1);
}

.social ul{
    width:70%;
    display: flex;
    position:relative;
    left:15%;
    border-top:1px solid white;
    margin-top:10px;
}

.social a p{
    display:none;
}

.social i{
    padding:3px;
    font-size:25px;
}

.fb i{
    color: #4267B2;
}

.tt i{
    color: #1DA1F2;
}

.ig i{
    color: #E1306C/*linear-gradient(45deg, #405de6, #5851db, #c13584, #e1306c, #fd1d1d)*/;
}

@media (min-width:768px) {

    .container{
        display:flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu-f{
        margin-left: auto;
        margin-right: auto;
        order:1;
    }

    .menu-f ul li{
        text-align: end;
        padding:13.7px 0;
    }

    .social{
        margin-left: auto;
        margin-right: auto;
    }

    .social ul{
        position:static;
        border-top:none;
    }

    .tt{
        margin: 0 60px;
    }

    .links{
        margin-left: auto;
        margin-right: auto;
    }

    .links ul li{
        text-align: start;
        padding:13.7px 0;
    }
}