body{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--theme-color);
}

header i{
    color:var(--text-color-op1);
}


.logo img{
    height:35px;
    width:35px;
    color:var(--text-color-op1);
}

/* Menu */

.full-menu{
    display:flex;
    justify-content: space-around;
}

.side-nav-bar, .logo{
    display:flex;
    justify-content: center;
    align-items: center;
}

.side-nav-bar li {
    display:flex;
    justify-content: center;
}

.side-nav-bar p{
    display:none;
}

.submenu p{
    display:none;
}

.submenu ul{
    display:none;
}

.submenu i{
    font-size:20px;
    margin-top:2px;
    margin-left:18px;
}

.main-nav-bar{
    display:flex;
}

.main-nav-bar{
    display:flex;
    
}

.submenu{
    width:19px;
}

nav ul li:hover > ul{
    display:block;
    font-weight:bold;
    top:39px;
    width:100px;
    text-align:center;
    position:absolute;
    transition: top 3s;
    background:rgb(54, 54, 54);
}

.userF ul{
    border-bottom:none;
}

.side-nav-bar p{
    display:none;
}

.userF p{
    display:none;
}

.userF ul{
    display:none;
}

.userF i, .carrito i{
    font-size:20px;
    margin-top:2px;
    margin-left:18px;
}

@media (min-width:768px) {
    .submenu{
        margin-left:15px;
        width:125px;
        background-color:rgb(27, 27, 27);
        border-radius:3px;
    }

    .submenu i{
        display:none;
    }

    .submenu p{
        display:flex;
        color:var(--text-color-op1);
        font-size:20px;
        margin-top:2px;
        margin-left:18px;
        
    }

    .submenu:hover{
        color:cyan;
        border-radius:5px;
        box-shadow: 0 0 5px #33ffff;
    }

    nav ul li:hover > ul{
        display:block;
        font-weight:bold;
        top:38px;
        width:125px;
        text-align:center;
        position:absolute;
        background:rgb(54, 54, 54);
    }

    .segundo {
        border-top:1px white solid;
        border-bottom:1px white solid;
    }

    .side-nav-bar a{
        display:flex;
        align-items: center;
    }
    .side-nav-bar p{
        display:flex;
        margin-left:9px;
    }

    .side-nav-bar i{
        font-size:21px;
    }
}