body{
    width:100%;
}

/*  */

main{
    width:100%;
    background-color: var(--secondary-color);
}

.main{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:100px;
}

.main section article{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    background:linear-gradient(135deg, var(--primary-color) 47%, var(--primary-color), var(--text-color-op2) 47%, #1d2020 67%);
    border-radius:20px;
    box-shadow:0 0 15px rgb(19, 18, 18);
    height:450px;
    width:300px;
}

.main section article:first-child{
    margin-top:10px;
}

.main section:last-child{
    padding-bottom:0;
    margin-bottom:0;
}

.main section article div figure img{
    position:relative;
    left:20%;
    height:250px;
    width:180px;
}

.main section{
    background-color: var(--text-color-op1);
    display:flex;
    flex-direction: column;
    border-radius:2.5px;
    box-shadow:0 0 15px rgb(19, 18, 18);
    margin-bottom:20px;
}

.titular{
    padding:5px 0;
    margin-bottom:20px;
    text-align: center;
    background-color: #1d2020;
    color:var(--text-color-op1);
    border: 2px solid var(--theme-color);
}

.meh{
    padding:10px;
}

.perifericos{
    padding-bottom:20px;
}

.down{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.nombre{
    font-size: 18px;
    font-weight:bolder;
    padding-top:35px;
    color:var(--text-color-op1);
}
/*
.nom {
    font-size: 18px;
    padding-left: 20px;
    padding-top:12px;
    font-weight:bolder;
}
*/

.precio-total{
    font-size: 15px;
    font-weight:bolder;
    color:var(--text-color-op1);
    margin-bottom:10px;
    padding: 20px 0;
}
/*
.precio {
    font-size: 14px;
    padding-left: 20px;
    padding-top:4px;
    font-weight:550;
    color:var(--secondary-color);
}
*/

.descripcion{
    font-size: 14px;
    width:75%;
    font-weight:100;
    margin: 20px auto;
    display:none;
}

.desc{
    align-items: flex-start;
}

.button{
    position:relative;
    left:15%;
    width:70%;
    font-size:17px;
    font-weight:bolder;
    background:#1d2020;
    color:var(--text-color-op1);
    text-decoration: none;
    padding:15px 0;
    border:3px solid var(--primary-color);
    border-radius:12px;
}

@media (min-width:768px) {
    main{
        width:100%;
        background-color: var(--secondary-color);
    }

    .main{
        width:95%;
    }

    .main section{
        flex-direction:row;
    }

    .main section article{
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        background:linear-gradient(135deg, var(--primary-color) 47%, var(--primary-color), var(--text-color-op2) 47%, #1d2020 67%);
        border-radius:20px;
        box-shadow:0 0 15px rgb(19, 18, 18);
        height:325px;
        width:216px;
    }

    .main section article div figure img{
        position:relative;
        left:24%;
        height:160px;
        width:115px;
    }

    .titular{
        display:flex;
        justify-content: center;
        padding:5px 0;
        margin:30px 0;
        background-color: #1d2020;
        color:var(--text-color-op1);
        border: 2px solid var(--theme-color);
        width:350px;
    }

    .meh{
        padding:10px;
    }

    .nombre{
        font-size: 17px;
        font-weight:bolder;
        position:relative;
        top:-24px;
        color:var(--text-color-op1);
    }

    .precio-total{
        font-size: 15px;
        font-weight:bolder;
        color:var(--text-color-op1);
        position:relative;
        top:-30px;
    }

    .button{
        position:relative;
        top:-35px;
        width:70%;
        font-size:16px;
        font-weight:bolder;
        background:#1d2020;
        color:var(--text-color-op1);
        text-decoration: none;
        padding:9px 0;
        border:3px solid var(--primary-color);
        border-radius:12px;
    }
}

@media (min-width:1020px) {
    .main section article{
        margin-left:auto;
        margin-right:auto;
        background:linear-gradient(135deg, var(--primary-color) 47%, var(--primary-color), var(--text-color-op2) 47%, #1d2020 67%);
        border-radius:20px;
        box-shadow:0 0 15px rgb(19, 18, 18);
        height:450px;
        width:300px;
    }

    .main section article div figure img{
        position:relative;
        left:21%;
        height:250px;
        width:180px;
    }

    .nombre{
        font-size: 18px;
        font-weight:bolder;
        position:relative;
        top:-18px;
        color:var(--text-color-op1);
    }

    .precio-total{
        font-size: 16px;
        font-weight:bolder;
        color:var(--text-color-op1);
        position:relative;
        top:-15px;
    }

    .button{
        position:relative;
        top:-15px;
        width:70%;
        font-size:17px;
        font-weight:bolder;
        background:#1d2020;
        color:var(--text-color-op1);
        text-decoration: none;
        padding:16px 0;
        border:3px solid var(--secondary-color);
        border-radius:12px;
    }
}