/* Main.CSS */

:root{
    --theme-color: #ece5ba;
    --primary-color: #2e1a1a;
    --secondary-color: #e54f28;
    --tertiary-color: #9e2304;
    --text-color: #2e1a1a;
}

* {
    box-sizing:border-box;
    font-family: 'Odibee Sans', cursive;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--theme-color);
}

a{
    text-decoration:none;
}

footer ul li {
    list-style: none;
}



/* El medio */
.i1 img{
    max-width:350px;
    max-height: 350px;
    height:70vw;
    width:70vw;
    border-radius: 7px;
}
.i1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    text-align: center;
}

.i2 img{
    max-width:350px;
    max-height: 350px;
    height:70vw;
    width:70vw;
    border-radius: 7px;
}
.i2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    text-align: center;
}

.i3 img{
    max-width:350px;
    max-height: 350px;
    height:70vw;
    width:70vw;
    border-radius: 7px;
}
.i3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    text-align: center;
}

.i4 img{
    max-width:350px;
    max-height: 350px;
    height:70vw;
    width:70vw;
    border-radius: 7px;
}
.i4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
    text-align: center;
}

.ip {
    max-width:350px;
    max-height: 350px;
    height:70vw;
    width:70vw;
    border: solid black 1px;
    border-radius: 7px;

    color:var(--theme-color);
    font-weight: lighter;
    letter-spacing:1.2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(var(--primary-color),var(--secondary-color))
}

.ip img{
    height:15vw;
    width:15vw;
    border-radius: 7px;
}

.ip h2{
    padding-top:14px;
}

.ip p{
    padding-top:14px;
}



@media (min-width:680px) {
    .i1 img{
        height:40vw;
        width:40vw;
        border-radius: 7px;
        margin-right:10px;
    }
    .i1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 250px 0px 100px 0px;
        text-align: center;
    }
    
    .i2 img{
        height:40vw;
        width:40vw;
        border-radius: 7px;
        margin-left:10px;
    }
    .i2{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 100px 0px;
        text-align: center;
    }
    
    .i3 img{
        height:40vw;
        width:40vw;
        border-radius: 7px;
        margin-right:10px;
    }
    .i3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 100px 0px;
        text-align: center;
    }
    
    .i4 img{
        height:40vw;
        width:40vw;
        border-radius: 7px;
        margin-left:10px;
    }
    .i4{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 100px 0px 250px 0px;
        text-align: center;
    }
    
    .ip {
        height:40vw;
        width:40vw;
        border: solid black 1px;
        border-radius: 7px;
    
        color:var(--theme-color);
        font-weight: lighter;
        letter-spacing:1.2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image:linear-gradient(var(--primary-color),var(--secondary-color))
    }
    
    .ip img{
        max-width:60px;
        max-height: 60px;
        height:8vw;
        width:8vw;
        border-radius: 7px;
    }
    
    .ip h2{
        padding-top:4vw;
    }
    
    .ip p{
        padding-top:3vw;
    }
}

@media (min-width:1007px) {

    /* Middle */

    .i1 img{
        height:35vw;
        width:35vw;
        border-radius: 7px;
        margin-right:10px;
        transition:0.5s;
    }

    .i1 img:hover{
        z-index:1;
        transform:scale(1.047);
        box-shadow:0 25px 40px rgba(0,0,0,.5);
    }
    .i1{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 225px 10px 125px 10px;
        padding: 25px 0;
        text-align: center;
    }
    
    .i2 img{
        height:35vw;
        width:35vw;
        border-radius: 7px;
        margin-left:10px;
        transition:0.5s;
    }

    .i2 img:hover{
        z-index:1;
        transform:scale(1.047);
        box-shadow:0 25px 40px rgba(0,0,0,.5);
    }

    .i2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 125px 10px;
        padding: 25px 0;
        text-align: center;
    }
    
    .i3 img{
        height:35vw;
        width:35vw;
        border-radius: 7px;
        margin-right:10px;
        transition:0.5s;
    }

    .i3 img:hover{
        z-index:1;
        transform:scale(1.047);
        box-shadow:0 25px 40px rgba(0,0,0,.5);
    }

    .i3{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 125px 10px;
        padding: 25px 0;
        text-align: center;
    }
    
    .i4 img{
        height:35vw;
        width:35vw;
        border-radius: 7px;
        margin-left:10px;
        transition:0.5s;
    }

    .i4 img:hover{
        z-index:1;
        transform:scale(1.047);
        box-shadow:0 25px 40px rgba(0,0,0,.5);
    }

    .i4{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 125px 10px 225px 10px;
        text-align: center;
        padding: 25px 0;
    }
    
    .ip {
        max-width: 560px;
        height:35vw;
        width:187.6vw;
        border: solid black 1px;
        border-radius: 7px;
    
        color:var(--theme-color);
        font-weight: lighter;
        letter-spacing:1.2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image:linear-gradient(var(--primary-color),var(--secondary-color))
    }
    
    .ip img{
        height:8vw;
        width:8vw;
        border-radius: 7px;
    }
    
    .ip h2{
        padding-top:4vw;
    }
    
    .ip p{
        padding-top:3vw;
    }
}