

* {
    box-sizing: border-box;
    
}



.contenedor {
    background-color: rgb(247, 243, 233);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    
}
/* .seccion-producto {
   
    width: 100vw;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */

.contenedor-producto {
    background-color: #e9982d;
    width: 95vw;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    

}


.img-producto {
    width: 100%;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    max-width: 400px;
    max-height: 400px;
}

.titulo-producto {
    padding: 15px;
    width: 100%;
    font-weight: 600;
    text-transform: capitalize;
    
}

.descripcion-producto {
    padding: 15px;
    width: 100%;
    border-top: solid 1px ;
    
}

.precio {
    padding: 15px;
    width: 100%;
    border-top: solid 1px ;
    text-align: center;
    font-size: 27px;
}

.botones-producto {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.boton {
    background-color: rgba(42, 2, 219, 0.7);
    padding: 6px;
    border-radius: 5px;
    color: cornsilk;
    margin: 10px;
    cursor: pointer;
}




@media (min-width: 500px) {

        
    .contenedor-producto {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100vw;
        /* padding: 35px;  */
        /* margin: 100px; */
        max-width: 1000px;
        min-height: 1100px;
    
    }
    
    
    .img-producto {
        max-width: 400px;
        max-height: 400px;
        width: 50%;
        padding: 5px;
        margin: 0px;
        /* border: solid 1px red; */
    }
    
    .titulo-producto {
        
        width: 50%;
        padding: 5px;
        margin: 0px;
        /* border: solid 1px red; */
    }
    
    .descripcion-producto {
        
        width: 100%;
        padding: 5px;
        margin: 0px;
        /* border: solid 1px red; */
    }

    .precio {
        padding: 5px;
        width: 100%;
        border-top: solid 1px ;
        text-align: center;
        font-size: 27px;
        margin: 0px;
        /* border: solid 1px red; */
    }
    
    .botones-producto {
        
        width: 100%;
        max-width: 400px;
        /* border: solid 1px red; */
        
    }
    
    .boton {
        
        margin: 0px;
    }
    
    
    
}