:root{
    --theme-color:#050606;
    --primary-color:#D8D7D5;
    --secondary-color:#ADB3BC;
    --text-color-op1:#FDFDFD;
    --text-color-op2:#050606;

    --black: #050606;
    --white: #FDFDFD;
    --grey: #D8D7D5;
    --mistyBlue: #ADB3BC;
}

*{
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}