<!DOCTYPE html>

<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>
        BitShop
    </title>
    <link rel='stylesheet' type='text/css' href='/css/home.css'>
    <link rel='stylesheet' type='text/css' href='/css/variables.css'>
    <link rel='stylesheet' type='text/css' href='/css/header.css'>
    <link rel='stylesheet' type='text/css' href='/css/footer.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
</head>

<body>
<%- include('partials/header.ejs') %>
<div class="contenedor">
    <main>
        <div class="main">
            <div class="meh"></div>
            <div class="titular titular1">
                <h2>PCs Armadas Destacadas</h2>
            </div>
            <section>
                <article>
                    <div>
                        <figure>
                            <img src="/images/PC Gamer.png" alt="">
                        </figure>
                        <div class="down">
                            <div class="nombre">
                                <p class="nom">Millenium</p>
                            </div>
                            <div class="descripcion">
                                <p class="desc">Esto es una descripción</p>
                            </div>
                            <div class="precio-total">
                                <p class="precio">Precio: $$$$</p>
                            </div>
                            <button class="button" type="button">Agregar al Carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <figure>
                            <img src="/images/PC Music.png" alt="">
                        </figure>
                        <div class="down">
                            <div class="nombre">
                                <p class="nom">HP Pavilion 690</p>
                            </div>
                            <div class="descripcion">
                                <p class="desc">Esto es una descripción</p>
                            </div>
                            <div class="precio-total">
                                <p class="precio">$180.000</p>
                            </div>
                            <button class="button" type="button">Agregar al Carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <figure>
                            <img src="/images/PC Gamer.png" alt="">
                        </figure>
                        <div class="down">
                            <div class="nombre">
                                <p class="nom">PC Armada de Edición</p>
                            </div>
                            <div class="descripcion">
                                <p class="desc">Esto es una descripción</p>
                            </div>
                            <div class="precio-total">
                                <p class="precio">$140.000</p>
                            </div>
                            <button class="button" type="button">Agregar al Carrito</button>
                        </div>
                    </div>
                </article>
            </section>
            <div class="titular">
                <h2>Componentes Destacados</h2>
            </div>
            <section class="componentes">
                <article>
                    <div>
                        <figure>
                            <img src="/images/PC Music.png" alt="">
                        </figure>
                        <div class="down">
                            <div class="nombre">
                                <p class="nom">SAPPHIRE Radeon RX 6900 XT</p>
                            </div>
                            <div class="descripcion">
                                <p class="desc">Esto es una descripción</p>
                            </div>
                            <div class="precio-total">
                                <p class="precio">$183.000</p>
                            </div>
                            <button class="button" type="button">Agregar al Carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <figure>
                            <img src="/images/PC Gamer.png" alt="">
                        </figure>
                        <div class="down">
                            <div class="nombre">
                                <p class="nom">AMD Ryzen 9 5950X</p>
                            </div>
                            <div class="descripcion">
                                <p class="desc">Esto es una descripción</p>
                            </div>
                            <div class="precio-total">
                                <p class="precio">$146.217</p>
                            </div>
                            <button class="button" type="button">Agregar al Carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <figure>
                            <img src="/images/PC Music.png" alt="">
                        </figure>
                        <div class="down">
                            <div class="nombre">
                                <p class="nom">Asus Prime TRX40-PRO</p>
                            </div>
                            <div class="descripcion">
                                <p class="desc">Esto es una descripción</p>
                            </div>
                            <div class="precio-total">
                                <p class="precio">$75.396</p>
                            </div>
                            <button class="button" type="button">Agregar al Carrito</button>
                        </div>
                    </div>
                </article>
            </section>
            <div class="titular">
                <h2>Periféricos Destacados</h2>
            </div>
            <section class="perifericos">
                <article>
                    <div>
                        <figure>
                            <img src="/images/PC Gamer.png" alt="">
                        </figure>
                        <div class="down">
                            <div class="nombre">
                                <p class="nom">K100 RGB</p>
                            </div>
                            <div class="descripcion">
                                <p class="desc">Esto es una descripción</p>
                            </div>
                            <div class="precio-total">
                                <p class="precio">$41.907</p>
                            </div>
                            <button class="button" type="button">Agregar al Carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <figure>
                            <img src="/images/PC Music.png" alt="">
                        </figure>
                        <div class="down">
                            <div class="nombre">
                                <p class="nom">IRONCLAW RGB WIRELESS</p>
                            </div>
                            <div class="descripcion">
                                <p class="desc">Esto es una descripción</p>
                            </div>
                            <div class="precio-total">
                                <p class="precio">$14.638</p>
                            </div>
                            <button class="button" type="button">Agregar al Carrito</button>
                        </div>
                    </div>
                </article>
                <article>
                    <div>
                        <figure>
                            <img src="/images/PC Gamer.png" alt="">
                        </figure>
                        <div class="down">
                            <div class="nombre">
                                <p class="nom">VIRTUOSO RGB Wireless</p>
                            </div>
                            <div class="descripcion">
                                <p class="desc">Esto es una descripción</p>
                            </div>
                            <div class="precio-total">
                                <p class="precio">$32.940</p>
                            </div>
                            <button class="button" type="button">Agregar al Carrito</button>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>

</div>
<%- include('partials/footer.ejs') %>

</body>

</html>