<footer>
    <div class="container">

        <div class="links">
            <ul>
                <li>
                    <a href="#">
                        <p>Acerca de Nosotros</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>Términos de Uso</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p>Políticas de Privacidad</p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="menu-f">
            <ul>
                <li class="com">
                    <a href="#">
                        <p>PCs Armadas</p>
                    </a>
                </li>
                <li class="per">
                    <a href="#">
                        <p>Componentes</p>
                    </a>
                </li>
                <li class="pc">
                    <a href="#">
                        <p>Periféricos</p>
                    </a>
                </li>
            </ul>
        </div>

        <div class="social">
            <ul>
                <li class="fb">
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                        <p>Facebook</p>
                    </a>
                </li>
                <li class="tt">
                    <a href="#">
                        <i class="fab fa-twitter-square"></i>
                        <p>Twitter</p>
                    </a>
                </li>
                <li class="ig">
                    <a href="#">
                        <i class="fab fa-instagram-square"></i>
                        <p>Instagram</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>