<header>
    <!-- 
    <div class="valores">
        <ul>
            <li class="DO">Dólar Oficial</li>
            <li class="DB">Dólar Blue</li>
            <li class="BTC">Bitcoin</li>
        </ul>
    </div>
    -->
    <div class="logo">
        <a href="#"><img class="imagen-logo" src="/images/Logo png.png" alt=""></a>
    </div>

    <div class="user-menu">
        <ul>
            <li class="one">
                <a href="/user/login" class="iniciar-sesion" target="_blank">
                    <span>Iniciar Sesión</span>
                </a>
            </li>
            <li class="two">
                <a href="/user/register" class="registrarse" target="_blank">
                    <span>Registrarse</span>
                </a>
            </li>
        </ul>
        
    </div>

</header>