<header>
    <div class="header-container">
        <nav class="full-menu">
            <ul class="main-nav-bar">
                <li class="submenu"><i class="fas fa-bars"></i><p>Productos</p>
                <ul>
                    <li><a href="/setups">PCs Armadas</a></li>
                    <li class="segundo"><a href="/componentes">Componentes</a></li>
                    <li><a href="/perifericos">Periféricos</a></li>
                </ul>
                </li>
            </ul>
            <div class="logo">
                <a href="/"><img class="img-logo" src="/images/Logo png.png" alt=""></a>
            </div>
            <ul class="side-nav-bar">
                <li class="carrito"><a href="/product/cart"><i class="fas fa-shopping-cart"></i><p>Carrito</p></a></li>
                <li class="userF"><i class="fas fa-user-circle"></i><p>Usuario</p>
                    <ul>
                        <li><a href="/user/login">Login</a></li>
                        <li class="segundo"><a href="/user/register">Registrarse</a></li>
                    </ul>
                </li>
            </ul>  
        </nav>
    </div>
</header>