<header>
    <div class="logo">
        <a href="#"><img class="imagen-logo" src="/images/Logo png.png" alt=""></a>
    </div>

    <div class="user-menu">
        <ul>
            <li class="one">
                <a href="/user/login" class="Login">
                    <span>Login</span>
                </a>
            </li>
            <li class="two">
                <a href="/user/register" class="registrarse">
                    <span>Registrarse</span>
                </a>
            </li>
        </ul>
        
    </div>

</header>