<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/login.css">
    </head>
<body>
    <div class="login-container">
        <div class="loginTitle">Login</div>
        
        <input type="text" name="userInput" placeholder="Usuario o Mail" class="credentials">
        <input type="password" name="passInput" placeholder="Constraseña" class="credentials">

        <input type="checkbox" value="rememberUser" class="rememberButton">
        <label for="rememberUser">Recordarme</label>

        <button class="enviar">Login</button>

        <p class="forgotPass">Olvide mi Constraseña</p>

    </div>
</body>
</html>