<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>register</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/register.css">
    </head>
<body>
    <div class="register-container">
        <div class="regsiterTitle">Registrate</div>
        
        <input type="text" name="userInput" placeholder="Usuario" class="credentials">
        <input type="email" name="emailnput" placeholder="Email" class="credentials">
        <input type="password" name="passInput" placeholder="Constraseña" class="credentials">
        <input type="confirmPassword" name="confirmPassInput" placeholder="Confirmar Constraseña" class="credentials">

        <button class="enviar">Login</button>
    </div>
</body>
</html>