<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title%></title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/register.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/header.css">
    </head>
<body>
    <body>

        <%- include("../partials/header") %>

        <div class="register">
            <form action="/users/register" method="POST" enctype="multipart/form-data">
                <div class="inputInfo">
                    <!--<label class="inputInfoText">User</label>-->
                    <div id="inputInfo">
                        <!--<label class="inputInfoText">Password</label>-->
                        <input id="input" type="email" minlength="4" placeholder="Usuario"required></input>
                        <span></span>
                        <span id="dot"></span>
                    </div>
        
                    <div id="inputInfo">
                        <!--<label class="inputInfoText">Password</label>-->
                        <input id="input" type="email" minlength="4" placeholder="Email"required></input>
                        <span></span>
                        <span id="dot"></span>
                    </div>
    
                        
                    <div id="inputInfo">
                        <!--<label class="inputInfoText">Password</label>-->
                        <input id="input" type="passowrd" minlength="4" placeholder="Contraseña"required></input>
                        <span></span>
                        <span id="dot"></span>
                    </div>
    
                        
                    <div id="inputInfo">
                        <!--<label class="inputInfoText">Password</label>-->
                        <input id="input" type="passowrd" minlength="4" placeholder="Confirmar Contraseña"required></input>
                        <span></span>
                        <span id="dot"></span>
                    </div>
                    <button class="registerButton">Register</button>
                </div>
            </form>
        </div>

        <%- include("../partials/footer") %>

    </body>
</body>
</html>